<!--
  This template loads for the 'tab.product-detail' state (app.js)
  'product' is a $scope variable created in the ProductsCtrl controller (controllers.js)
  The ProductsCtrl pulls data from the Product service (service.js)
  The Products service returns an array of product data
-->
<ion-view view-title="{{product.name}}">
  <ion-content class="padding">
    <a class="button" ng-click="showImage(product.name)">
      <img ng-src="{{imageSrc}}" style="width: 282px; height: 211px">
    </a>
    <p>
      {{product.desc}}<br />{{product.price | currency}}
    </p>
    <select name="quantity" ng-model="quantitySelected" ng-change="quantityChanged(quantitySelected)" id="quantity">
      <option ng-selected="quantity == 1">1</option>
      <option ng-selected="quantity == 2">2</option>
      <option ng-selected="quantity == 3">3</option>
      <option ng-selected="quantity == 4">4</option>
      <option ng-selected="quantity == 5">5</option>
    </select>
    <button ng-click="addToCart()" class="btn btn-default">Add To Cart</button>
        
  </ion-content>
</ion-view>
